services:
  ikaros_capacitorService:
      class: 'Bakalarka\IkarosBundle\Service\CapacitorService'
      arguments: ['@doctrine', '@ikaros_systemService', '@ikaros_pcbService']
  ikaros_connectionService:
        class: 'Bakalarka\IkarosBundle\Service\ConnectionService'
        arguments: ['@doctrine', '@ikaros_systemService']
  ikaros_connectorService:
        class: 'Bakalarka\IkarosBundle\Service\ConnectorService'
        arguments: ['@doctrine', '@ikaros_systemService', '@ikaros_pcbService']
  ikaros_filterService:
        class: 'Bakalarka\IkarosBundle\Service\FilterService'
        arguments: ['@doctrine', '@ikaros_systemService']
  ikaros_fuseService:
      class: 'Bakalarka\IkarosBundle\Service\FuseService'
      arguments: ['@doctrine', '@ikaros_systemService']
  ikaros_resistorService:
      class: 'Bakalarka\IkarosBundle\Service\ResistorService'
      arguments: ['@doctrine', '@ikaros_systemService', '@ikaros_pcbService']
  ikaros_rotDevElapsService:
        class: 'Bakalarka\IkarosBundle\Service\RotDevElapsService'
        arguments: ['@doctrine', '@ikaros_systemService']
  ikaros_switchService:
      class: 'Bakalarka\IkarosBundle\Service\SwitchService'
      arguments: ['@doctrine', '@ikaros_systemService']
  ikaros_tubeWaveService:
        class: 'Bakalarka\IkarosBundle\Service\TubeWaveService'
        arguments: ['@doctrine', '@ikaros_systemService']
  ikaros_diodeService:
        class: 'Bakalarka\IkarosBundle\Service\DiodeService'
        arguments: ['@doctrine', '@ikaros_systemService', '@ikaros_pcbService']
  ikaros_optoService:
        class: 'Bakalarka\IkarosBundle\Service\OptoService'
        arguments: ['@doctrine', '@ikaros_systemService', '@ikaros_pcbService']


  ikaros_systemService:
        class: 'Bakalarka\IkarosBundle\Service\SystemService'
        arguments: ['@doctrine']
  ikaros_partService:
        class: 'Bakalarka\IkarosBundle\Service\PartService'
        arguments: ['@doctrine', '@ikaros_systemService', '@ikaros_pcbService']
  ikaros_pcbService:
        class: 'Bakalarka\IkarosBundle\Service\PcbService'
        arguments: ['@doctrine', '@ikaros_systemService']